<%- include('../partials/head'); %> <%- include('../partials/nav'); %>
<a href="/classes">Back to classes</a>
<div>
  <h2><%= course.name %></h2>
  <h2><%= course.day %></h2>
  <h2><%= course.time %></h2>
  <h2><%= course.subject %></h2>
  <h2><%= course.currentSlide %></h2>
  <h2><%= course.week_number %></h2>
  <div class="">
    <div class="w-11/12 bg-gray-200 h-3 rounded-lg" id="progress-outer">
      <div class="bg-blue-600 h-3 rounded-lg" id="class-progress"></div>
    </div>
    <h2><%= course.current_slide %> / <%= course.total_slides %> slides</h2>
  </div>
  <a href="<%= course.zoom_link %>" class="text-blue-500 hover:underline"
    >Zoom link</a
  >
  <a href="<%= course.replit_link %>" class="text-blue-500 hover:underline"
    >Replit link</a
  >
  <% if(user.accountType === "teacher") { %>
  <button>Add Feedback</button>
  <% } else { %> <% if(course.subject === "Intermediate Python") { %>
  <div><%- include('../partials/inter-python-slides'); %></div>
  <% } %> <% if(course.subject === "Intermediate Java") { %>
  <div><%- include('../partials/inter-java-slides'); %></div>
  <% } %> <% if(course.subject === "Intro Java") { %>
  <div><%- include('../partials/intro-java-slides'); %></div>
  <% } %> <% if(course.subject === "Intro Python") { %>
  <div><%- include('../partials/intro-python-slides'); %></div>
  <% } %> <% } %>
</div>
<script></script>
