<%- include('../partials/head'); %> <%- include('../partials/nav'); %>
<a class="text-blue-500 hover:underline text-lg" href="/classes"
  >Back to classes</a
>
<div class="ml-4">
  <h2 class="text-4xl font-bold"><%= course.name %></h2>
  <h2 class="text-lg"><%= course.day %> at <%= course.time %></h2>
  <% if(user.accountType !== "student") { %>
  <a
    href="/classes/<%= course.id %>/feedback"
    class="text-blue-500 hover:underline text-lg"
    >View feedback</a
  >
  <br />
  <% } %>
  <a href="<%= course.zoom_link %>" class="text-blue-500 hover:underline"
    >Zoom link</a
  >
  <br />
  <a href="<%= course.replit_link %>" class="text-blue-500 hover:underline"
    >Replit link</a
  >
  <div class="">
    <div class="w-11/12 bg-gray-200 h-3 rounded-lg" id="progress-outer">
      <div
        class="bg-blue-600 h-3 rounded-lg"
        id="class-progress"
        style="
          width: <%= (course.current_slide / course.total_slides) * 100 %>%;
        "
      ></div>
    </div>
    <h2>
      <%= course.current_slide %> / <%= course.total_slides %> slides completed
    </h2>
  </div>
  <% if(user.accountType === "teacher") { %>
  <button id="feedback-btn" class="bg-gray-700 text-yellow-300 rounded-sm p-3">
    Add Feedback
  </button>
  <% } %> <% if(user.accountType === "student") { %> <% if(course.subject ===
  "Intermediate Python") { %>
  <div><%- include('../partials/inter-python-slides'); %></div>
  <% } %> <% if(course.subject === "Intermediate Java") { %>
  <div><%- include('../partials/inter-java-slides'); %></div>
  <% } %> <% if(course.subject === "Intro Java") { %>
  <div><%- include('../partials/intro-java-slides'); %></div>
  <% } %> <% if(course.subject === "Intro Python") { %>
  <div><%- include('../partials/intro-python-slides'); %></div>
  <% } %> <% } %>

  <form
    class="hidden bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md"
    action="/classes/<%= course.id %>/feedback/create"
    method="get"
    id="feedback-form"
  >
    <label class="block text-gray-700 text-sm font-bold mb-2" for="slideNumber"
      >Slide Number</label
    >
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="number"
      name="slideNumber"
      id="slideNumber"
      placeholder="1"
    />
    <label class="block text-gray-700 text-sm font-bold mb-2" for="message"
      >Feedback Message</label
    >
    <textarea
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      name="message"
      id="message"
      cols="10"
      placeholder="type you message here"
    ></textarea>
    <button
      type="submit"
      class="bg-yellow-300 hover:bg-yellow-500 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Submit
    </button>
  </form>
</div>
<script>
  const feedbackBtn = document.getElementById("feedback-btn");
  const form = document.getElementById("feedback-form");
  feedbackBtn.addEventListener("click", (e) => {
    form.classList.toggle("hidden");
  });
</script>
